* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

/* navbar of above Logo */

#page {
  height: 500px;
  width: 1000px;
  margin: 15px auto;
}
#nav1 {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: gray;
}
#nav1 p {
  font-size: 10px;
}
#first {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 7px;
}
#first > div {
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: space-evenly;
}
#second {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
#second > input {
  border: transparent;
  padding: 5px;
  cursor: pointer;
}
.vl {
  border-left: 1px solid gray;
  margin-left: 10px;
}
#nav1 img {
  height: 13px;
  width: 13px;
  margin-top: 8px;
}

/* The Hindu Logo */

#logo {
  margin: 15px 0;
}
#logo > img {
  display: block;
  margin: auto;
}
#logo p {
  font-size: 11px;
}
#logo > div > p:nth-child(2) {
  color: rgb(173, 158, 158);
}
#logo > div {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

/* navbar 2 below Logo */
#nav2 {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: gray;
}
#left {
  width: 580px;
  display: flex;
  justify-content: space-between;
}
#left p,#left .content {
  font-size: 12px;
  display: flex;
  align-items: center;
}
.content{
  margin-top: 12px;
}
#left > div:first-child > p {
  font-size: 9.5px;
}
#nav2 img {
  height: 22px;
  width: 28px;
  margin-top: 2px;
}
#right {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#right > button {
  border-radius: 5px;
  padding: 7px;
  border: transparent;
  color: white;
  background-color: #00419b;
}
#right > button:nth-child(2) {
  color: black;
  background-color: #ffc000;
}
#right > button:nth-child(3) {
  color: #00419b;
  border: 1px solid #00419b;
  background-color: #f5f5f5;
}
#right > button:hover {
  border: transparent;
  color: white;
  background-color: #00419b;
}
.elem{
  position: relative;
  display:inline-block;
}
.sub-content{
  display: none;
  position:absolute;
  margin-top: 12px;
  margin-left: 10px;
}
.extra{
  width:115px;
  margin-top: 14px;
}
.extra2{
  width:130px;
}
.sub-content>a{
  text-decoration: none;
  font-size: 12px;
  background-color: white;
  display: block;
  padding:10px 12px;
}
.content:hover{
  cursor: pointer;
}
.sub-content a:hover{
  color:black;
  font-weight: 700;
  cursor: pointer;
}
.elem:hover .sub-content{
  display: block;
}

/* 3rd common (trending) Part */

#header{
  width:45%;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  margin:5px 0;
}
#header p{
  color:red
}
#header a{
  text-decoration: none;
  color:gray;
}
#header a:hover{
  text-decoration: underline;
}
#header img{
  height:10px;
  width:80px;
}